* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
}

/* H e a d e r */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #003da6;
}

header h1 {
  color: #fff;
  margin: 0;
}

header #logo {
  max-width: 50px;
  margin-right: 1rem;
}

header img {
  max-width: 50px;
  margin-right: auto;
}

.iconos {
  display: flex;
  gap: 0.5rem;
}

.iconos li {
  list-style: none;
}

/* N a v i g a t i o n */

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #eee;
  color: #000;
}

#menu::before {
  content: "≡";
}

#menu.show::before {
  content: "X";
}

nav ul {
  list-style-type: none;
  padding: 25px;
  margin: 20px;
  background-color: white;
}

.navigation li {
  margin: 0 1rem;
  width: 100%;
  text-align: center;
}

.navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navigation {
  display: none;
}

.navigation a:hover {
  color: #3dae2b;
  text-decoration: underline;
}

.navigation.show {
  display: block;
}

/* B I G - H E R O */

.big-hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  transition: transform 0.5s ease;
}

.slider-container .slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-container .slide.show {
  display: block;
}

#prevSlide {
  left: 2%;
}

#nextSlide {
  right: 2%;
}

/* A B O U T   U S */

.about-us {
  padding: 50px 0;
  background-color: #f4f4f4;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.image-group img {
  max-width: 150px;
  margin: 10px;
}

.title-box {
  background-color: white;
  padding: 20px 40px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 8px;
  cursor: pointer;
}

.title-box:hover {
  background-color: #3dae2b;
}

.about-us h2 {
  font-size: 24px;
  margin: 0;
}

.discover-box {
  max-width: 500px;
  margin: 40px auto 0;
  padding: 20px;
  background-color: white;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.discover-box a {
  text-decoration: none;
  color: #000;
}

.discover-box:hover {
  background-color: #00cdda;
}
.discover-box a:hover {
  color: #fff;
}

/* C U R R E N T  E V E N T  S E C T I O N */

.current-events {
  padding: 50px;
  background-color: #f4f4f4;
}

.current-events h2 {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.event-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.event-card:hover img {
  transform: scale(1.05);
}

.learn-more-btn {
  position: absolute;
  right: 20px;
  background-color: #003da6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.more-btn {
  display: block;
  margin: 70px auto;
  padding: 15px 30px;
  background-color: #003da6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* W E A T H E R */

.weather-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.weather-section h2 {
  padding: 40px;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.weather-box {
  background-color: white;
  width: calc(33.33% - 20px);
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* S P O T L I G H T S */

.spotlights-section {
  padding-bottom: 30px;
  background-color: #00000099;
  color: white;
}

.spotlights-section h2 {
  padding: 20px;
}

.spotlights-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.spotlight-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}

.spotlight-card img {
  width: 100%;
  transition: transform 0.3s;
}

.spotlight-card:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

/* F O O T E R */

footer {
  padding: 10px;
  text-align: center;
  background-color: #003da6;
  color: #fff;
}

/* DISCOVER PAGE */

#visitMessage {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #fff;
  background-color: #003da6;
  margin: 20px;
  padding: 10px;
}

.info-box,
#ad {
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.main-discover {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.info-box,
.ad,
#calendar,
.image-column {
  width: 100%;
}

#calendar {
  margin-bottom: 10px;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-column img {
  padding-bottom: 20px;
}
