@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }

  nav li {
    width: auto;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer p, footer span {
    display: inline-block;
    padding: 2px;
  }
}
